[submodule "EV3-Comms"]
	path = EV3-Comms
	url = https://github.com/JonathanDrukker/EV3-Comms
[submodule "EV3-Graphs"]
	path = EV3-Graphs
	url = https://github.com/JonathanDrukker/EV3-Graphs
[submodule "EV3-RobotSim"]
	path = EV3-RobotSim
	url = https://github.com/JonathanDrukker/EV3-RobotSim
