[submodule "EV3-Comms"]
	path = EV3-Comms
	url = https://github.com/JonathanDrukker/EV3-Comms
[submodule "FLL-Graphs"]
	path = FLL-Graphs
	url = https://github.com/JonathanDrukker/FLL-Graphs
[submodule "FLL-RobotSim"]
	path = FLL-RobotSim
	url = https://github.com/JonathanDrukker/FLL-RobotSim
